@import "colors";

.omj-header {
  background-color: $less-black-color;
  height: 50px;
  h2 {
    background-color: $less-black-color;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: $grey-color;
    font-size: 18px;
    font-weight: 100;
    padding: 14px;
  }
  .omj-header__title--user {
    float: right;
  }

  .omj-settings__img--settings {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
  }
}

