*, html, body {
  margin: 0;
  padding: 0; }

*, html, body {
  margin: 0;
  padding: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*:focus {
  outline: 0; }

.omj_successBtn {
  background-color: transparent;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #27A0A0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px; }
  .omj_successBtn:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
    color: #fff; }

input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial; }

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0; }

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px; }

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box; }

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none; }

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

.omj-header {
  background-color: #4D4D4D;
  height: 50px; }
  .omj-header h2 {
    background-color: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ccc;
    font-size: 18px;
    font-weight: 100;
    padding: 14px; }
  .omj-header .omj-header__title--user {
    float: right; }
  .omj-header .omj-settings__img--settings {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer; }

.omj_successBtn {
  background-color: transparent;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: #27A0A0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 20px; }
  .omj_successBtn:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
    color: #fff; }

.omj-mainWrapper__Jobs--addJob {
  border: 1px solid #ddd;
  border-radius: 5px; }
  .omj-mainWrapper__Jobs--addJob .omj-mainWrapper__Jobs--labelUrl {
    display: inline-block;
    width: 50px;
    background-color: #ddd;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-right: 5px; }
  .omj-mainWrapper__Jobs--addJob #addButton {
    display: inline-block;
    width: 50px;
    line-height: 30px;
    float: right;
    background-color: cadetblue; }
    .omj-mainWrapper__Jobs--addJob #addButton:after {
      content: "+";
      font-size: 2em;
      display: inline-block;
      width: 50px; }
    .omj-mainWrapper__Jobs--addJob #addButton:hover {
      cursor: pointer; }
    .omj-mainWrapper__Jobs--addJob #addButton:focus {
      background-color: darkgray; }
  .omj-mainWrapper__Jobs--addJob input#url {
    width: 85%;
    line-height: 30px; }
    .omj-mainWrapper__Jobs--addJob input#url[placeholder] {
      padding-left: 5px;
      font-style: italic; }

body {
  min-width: 800px;
  min-height: 550px; }

iframe {
  width: 100%;
  height: 100%;
  border: 0; }

#omj__options .error {
  float: left;
  margin-top: -25px;
  margin-left: 115px; }

.error {
  color: red;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin: 10px 30px; }

.omj__loading-spinner {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  vertical-align: bottom; }

.omj_hidden {
  display: none; }

.omj_show {
  display: block; }

.omj_successBtn {
  margin-top: 20px; }

.omj__title--options {
  margin-bottom: 10px; }

.omj__viewName {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  font-weight: 600; }

.omj-mainWrapper {
  margin: 10px; }

.omj__blink {
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }

/*# sourceMappingURL=main.css.map */
