<html>
  <head>
    <title>
        Jenkins Login
    </title>
      <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <header class="omj-header">
      <h2 class="omj-header__title">Log in</h2>
      <nav class="omj-header__nav"></nav>
  </header>
    <main>
        <div class="omj__form-style">
              <form>
                <input type="text" name="field1" placeholder="Username (user@domain.com)"/>
                <input type="text" name="field2" placeholder="Token or Password"/>
                <input type="text" name="field3" placeholder="Host (godbuilder.domain.com)"/>
                <input type="text" name="field4" placeholder="Port (optional)"/>
                <input type="button" id="btn" value="Login"/>
              </form>
        </div>
    </main>
  <div class="error"></div>
  <footer>
      <script data-main="../js/main" src="../js/lib/require.js"></script>
  </footer>
  </body>
</html>
