<!doctype html>
<html>
<head>
  <title>Options for Jenkins</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<header class="omj-header">
    <h2 class="omj-header__title--settings">Settings</h2>
</header>
<div class="omj__form-style">
  <form>
      <input type="text" name="jenkins-url" placeholder="Input Jenkins URL here">
      <input type="button" id="btn" value="Save"/>

      <!--<div class="control-group">
        <label class="control-label" for="refresh-time">Refresh interval (min)</label>
        <div class="controls">
          <input type="range" name="refresh-time" min="5" max="30" step="5" value="5">
          <output name="refresh-time-value" for="refresh-time"></output>
          <span class="save-info"></span>
        </div>
      </div>-->

  </form>
</div>
<script data-main="../js/main" src="../js/lib/require.js"></script>
</body>
</html>
