<html>
  <head>
    <title>
        Jenkins User
    </title>
      <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
  <header class="omj-header">
      <h2 class="omj-header__title--user"></h2>
      <nav class="omj-header__nav">
          <ul>
              <li class="omj-settings"><img class="omj-settings__img--settings" src="../img/settings.png" alt="Settings"></li>
          </ul>
      </nav>
  </header>
    <main class="omj-mainWrapper"></main>
  <div class="error"></div>
  <footer>
       <script data-main="../js/main" src="../js/lib/require.js"></script>
  </footer>
  </body>
</html>
