@import "reset";
@import "form";
@import "header";

body {
  min-width: 650px;
}

iframe {
  border: 0;
}

.error {
  color: $red-color;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
}

.omj__loading-spinner {
  width: 40px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  vertical-align: bottom;
}
