@import "colors";

%blue-btn {
  -moz-box-shadow: inset 0 1px 0 0 $less-blue;
  -webkit-box-shadow: inset 0 1px 0 0 $less-blue;
  background-color: #2CBBBB;
  border: 1px solid #27A0A0;
  display: inline-block;
  cursor: pointer;
  color: $white-color;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}
